{% extends "base.html" %}

{% block log_contents %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span5"> <!-- sidebar -->    
      <a href="/log_form">
	yes
      </a>
    </div>
    
      
    <div class="span7 offset3 mt-content"> <!-- contents -->
      {% if log_pages %}
      {% for log_page in log_pages %}
      <div class="row-fluid">
	<h3> {{ log_page.log_title }} </h3>
        <div class="span2">
	  {{ log_page.author }}	  
        </div>
        <div class="span2 mt-date">
	  {{ log_page.lastmodified_date }}
        </div>	
      </div>
      <div class="lead">
	{{ log_page.contents }}      
      </div>
      {% endfor %}
      
      {% else %}
      
      <div class="lead">
	No logs available.
      </div>
      {% endif %}
    </div>
    
  </div>
</div>

</div>

{% endblock %}
